*{
    margin: 0;
    padding: 0;
}
#header{
    text-align: center;
    padding-top: 100px;
    background-image: url('png/bG1.png');
    background-size: 150%;
    color: aliceblue;
}
h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    margin-bottom: 40px;
}
ul li{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    display: inline;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
li:hover{
    font-size: 30px;
}
h3{
    width: 30%;
    text-align: center;
    margin:100px auto;
    border: solid 3px black;
    background-image: url('png/bG1.png');
    background-position: top;
    font-size: 30px;
    color: aliceblue;
}
h3:hover{
    border: solid 6px red;
}
body{
    background-image:url('png/bG0.png') ;
    background-size: 250%;
}
#bodi a{
    width: 30%;
    text-align: center;
    margin:100px auto;
}
.output{
    width: 30%;
    text-align: center;
    margin:100px auto;
    background-image: url('png/bG1.png');
    background-position: top;
    font-size: 30px;
    color: aliceblue;
}
#ir{
    margin: 20px 200px;
}